.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.about-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-items: space-around;
    padding: 2rem;
    background-color: rgba(250, 250, 255, 1);
    min-height: 85vh;
    background-color: rgba(255, 255, 255, 1);
    gap: 2rem;
}