.landing-container {
  flex: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 1  rem;
  scroll-snap-align: start;
  box-sizing: border-box;
  width: 100%;
  min-height: 90vh;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  width: 500px;
  height: 500px;
  background: white;
  border-radius: 12px;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.landing-title {
  font-size: 3.5rem;
  font-weight: 800;
  color: black;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.landing-subtitle {
  font-size: 1.25rem;
  color: black;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
}

.landing-text {
  font-size: 0.875rem;
  color: black;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}


.github-link {
  margin-top: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 1rem 1rem;
  border: 2px solid black;
  border-radius: 6px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.github-icon {
  font-size: 1.5rem;
}

.linkedin-link {
  margin-top: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 1rem 1rem;
  border: 2px solid black;
  border-radius: 6px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.linkedin-icon {
  font-size: 1.5rem;
}

.linkedin-link:hover, .github-link:hover {
  background-color: rgba(119, 158, 203, 1);
  border-color: black;
}

@media (max-width: 768px) {
  .landing-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    gap: 1.5rem;
    min-height: auto;
  }

  .left-section {
    align-items: center;
    text-align: center;
    padding-bottom: 0;
  }

  .image-placeholder {
    display: none;
  }

  .landing-title {
    font-size: 2rem;
  }

  .landing-subtitle {
    font-size: 1.1rem;
  }

  .landing-text {
    font-size: 0.85rem;
  }
}