.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.projects-container {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 1200px;
    align-items: center;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-section {
    flex: 1;          
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    height: 100%;
}

.image-placeholder {
    width: 100%;
    height: 100%;
    background: white;
    /* border-radius: 8px; */
}

.right-section {
    flex: 1;             
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    height: 100%;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;     
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.header-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.project-link {
    padding: 0.5rem;
    text-decoration: underline;
    cursor: pointer;
    border: 2px solid;
    border-radius: 6px;
}

.project-link:hover {
    background-color: rgba(119, 158, 203, 1);
}

.content-body {
    flex: 1;                    
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    overflow-y: auto;   
    padding-top: 1rem;        
}

.content-icons {
    display: flex;
    flex-direction: row; 
    gap: 0.75rem;        
    padding-bottom: 1rem;
    border-bottom: 2px inset;
    width: 100%;
}

.icon-item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.2rem;
}

.icon-item-react {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.1rem;
    color: #61DAFB;
}

.icon-item-typescript {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.1rem;
    color: #3178C6; 
}

.react-link {
    color: #61DAFB;
    font-size: 1.2rem;
} 

.typescript-link {
    color: #3178C6;
    font-size: 1.2rem;
}