html {
  scroll-behavior: smooth;
}

.app-container {
  display: block;
  width: 100%;
}

.hero-section {
  display: block;
}

#home, #projects, #contact {
  padding-top: 80px;
  margin-top: -80px;
}

