.app-container {
  height: 100vh;
  width: 100vw; 
  background-color: rgba(255, 255, 255, 1); 
  display: flex; 
  flex-direction: column; 
}

.hero-section {
  flex: 1; 
  display: flex;
  flex-direction: column;
}
